{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đánh Giá Thành Viên</title>
    <link rel="stylesheet" href="style4.css">
</head>
<body>
    <h1>Đánh Giá Thành Viên Trong Nhóm</h1>
            <h1>Evaluate {{ member.username }} in Group: {{ group.groupname }}</h1>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit Evaluation</button>
            </form>

            <a href="{% url 'group' group_id=group.id %}">Back to Group</a>
    <script src="script.js"></script>
</body>
</html>
