{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đánh Giá Thành Viên Trong Nhóm</title>
    <link rel="stylesheet" href="{% static 'login/css/style6.css' %}">
</head>
<body>
    <header>
        <h2 class="page-title">Những thành viên đã đánh giá</h2>
    </header>
    <main>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>ID Thành Viên Được Đánh Giá</th>
                        <th>Tiêu Đề</th>
                        <th>Đánh Giá</th>
                        <th>Điểm</th>
                        <th>Ngày Tạo</th>
                        <th>ID Người Đánh Giá</th>
                        <th>Người Đánh Giá</th>
                    </tr>
                </thead>
                <tbody id="evaluationTableBody">
                    {% for evaluation in evaluations %}
                        <tr>
                            <td>{{ evaluation.user_id }}</td>
                            <td>{{ evaluation.title }}</td>
                            <td>{{ evaluation.danhgia }}</td>
                            <td>{{ evaluation.score }}</td>
                            <td>{{ evaluation.created_at }}</td>
                            <td>{{ user.id }}</td>
                            <td>{{ evaluation.nguoidanhgia }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    <button class="back-button" onclick="window.location.href='{% url 'group' group_id=group.id %}'">Trở về nhà</button>
</body>
</html>