{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đánh Giá Thành Viên Trong Nhóm</title>
    <link rel="stylesheet" href="style5.css">
</head>
<body>
    <header>
        <h2 class="page-title">Tổng hợp đánh giá</h2>
    </header>
    <main>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>Tên Thành Viên</th>
                        <th>Hiệu Suất Công Việc</th>
                        <th>Tương Tác Trong Nhóm</th>
                        <th>Tính Cống Hiến</th>
                    </tr>
                </thead>
                <tbody id="evaluationTableBody">
                    <ul>
                        {% for evaluation in evaluations %}
                            <li>
                                <strong>Title:</strong> {{ evaluation.title }}<br>
                                <strong>Đánh giá:</strong> {{ evaluation.danhgia }}<br>
                                <strong>Score:</strong> {{ evaluation.score }}<br>
                                <strong>Created At:</strong> {{ evaluation.created_at }}
                            </li>
                        {% endfor %}
                    </ul>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
