{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function showForm() {
            document.getElementById('groupForm').style.display = 'block';
        }
    </script>
    <title>Trang cá nhân</title>
    <link rel="stylesheet" href="{% static 'login/css/style3.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="title">Trang cá nhân</h1>
        <div class="profile-container">
            <img src="{{ user.avatar }}" alt="Ảnh đại diện" class="avatar">
            <h2 class="username">{{ user.username }}</h2>
            <p class="info">ID: {{ user.id }}</p>
            <p class="info">MSSV: {{ user.mssv }}</p>
            <p class="info">Class Name : {{ user.classname }}</p>
            <p class="info">Điểm số: {{ user.score }}</p>
        </div>
        <button onclick="showForm()">Cập nhật thông tin</button>
        <div id="groupForm" style="display:none;">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Cập nhật">
            </form>
        </div>
        <button onclick="href="{% url "home" %}">Trở về nhà</button>
    </div>
</body>
</html>