.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #bff8ff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #34C759;
    margin-bottom: 20px;
}

.member-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bff8ff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

.member-info span {
  padding-bottom: 10px;
  margin-right: 20px;
  font-size: 20px;
}


.member-options {
    flex: 0.2;
    text-align: right;
}

.option-btn {
    background-color: transparent;
    border: none;
}
.group-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.add-member-btn {
  background-color: #007bff;
  color: #fff;
  margin-left: 5px;
  width: 120px; 
  height: 30px; 
  font-size: 20px; 
}

.delete-group-btn {
  background-color: #ff0000;
  color: #fff;
  margin-right: 5px;
  width: 120px; 
  height: 40px;
  font-size: 22px; 
  
}
body {
  background-image: url('images/banner1.jpg');
}