body {
    font-family: Arial, sans-serif;
    background: url('banner2.jpg') center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    overflow-x: auto;
}

.page-title {
    text-align: center;
    color: black;
    margin-top: 50px; /* Thêm margin-top để tạo khoảng cách */
    font-size: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: center;
}

thead {
    background-color: #fff;
    color: #333;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        margin: 10px;
    }
}

#searchInput {
    display: block;
    margin: 20px auto 0; /* Thêm margin-top 20px */
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

#backButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
